.headerHorario {
    width: 100%;
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(62, 66, 64, 0.678), rgba(62, 66, 64, 0.678)), url("../imgs/horario/horario.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
<<<<<<< HEAD
    
=======
>>>>>>> f870781812d29553fab14cf36f4a06c0ffe0502e
}

.wave {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.modalHorario {
    top: 150px;
}