.containerInicio {
    width: 100%;
    position: relative;
    height: 700px;
    background: #009fff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, rgba(62, 66, 64, 0.678), rgba(62, 66, 64, 0.678)), url("../imgs/inicio/bienvenidos.jpg");
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, rgba(62, 66, 64, 0.678), rgba(62, 66, 64, 0.678)), url("../imgs/inicio/bienvenidos.jpg");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}