.container-fluid{
    background:rgb(43, 45, 46);
}
#fondoLogin{
    height: 100vh;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.603), rgba(43, 45, 46, 0.603)),url("../imgs/fondoEstudiantesLogin.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.603), rgba(43, 45, 46, 0.603)),url("../imgs/fondoEstudiantesLogin.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
#box1{
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 40px    ;
    border-bottom: 2px solid rgb(215, 217, 218);
    border-top: 2px solid rgb(215, 217, 218);
    
}
img {
    padding-left: 15px;
    padding-top: 15px;
    width: 90%;
    height: auto;
    margin-bottom: 25px;
    align-items: center;   
} 
#box2{
    padding-top: 30px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(71, 183, 190);
    background: rgb(43, 45, 46);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;

}
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(71, 183, 190);
    background: rgb(43, 45, 46);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;

}
#ingresar{
    margin-top: 18px;
    background:rgb(47, 174, 184);
    border:0px;
    width: 100%;
    height: 45px;
    color:white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;

}
#ingresar:hover{
    background:rgb(32, 228, 241);
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}

h1{
    width: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 90px;
    text-align: center;
}
h3{
    width: 100%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 33%;
    opacity: 30%;
    animation-name: fadeInOut, moveLeft300px, bounce;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}
